* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(45deg, #190361 0%, #930702 100%);
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    
   

}

main {
    width: min(42.8rem, 90%);
    background: #f8f3f3;
    box-shadow: 0 2.0rem 5.0rem rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

h1, 
p {
    color: #190361;
    text-align: center;
    font-weight: 400;
}

h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 4.8rem 8.1rem 1.3rem;
}

p, #btnTryAgain {
    font-family: 'DM Sans', sans-serif;
        font-size: 1.5rem;

}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: normal;
    background-color: #dde7e7;
    
}

button{
    width: 17.4rem;
    height: 5.2rem;
    background-color: #9350ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 1.6rem;
    margin: 0 auto 4.8rem;
    cursor: pointer;
               
}

button:hover {
    background-color: #5807db;
}

#fortuneCookie {
    background-image: url(./img/fortune-cookie.png);
    width: 300px;
    height: 200px;
    margin: 2.0rem 6.4rem 6.4rem;
}

#fortuneCookie:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

#openedCookie {
    background-image: url(./img/opened-cookie.png);
    width: 300px;
    height: 200px;
    margin: 2.0rem 6.4rem;
}


.hide {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }